<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<connectionStrings>
<add name="POSConnection" connectionString="Data Source=.;Initial Catalog=POSV01;Trusted_Connection=True;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>